﻿<div class="colborder left language_ctl">
@{
	var lSer = new I18nWebApp.Classes.I18N.I18N();
	var cultures = lSer.I18NList();
	string Culture = System.Globalization.CultureInfo.CurrentCulture.ToString().ToLower();

	string urlMask = "<a{0} href=\"{1}\">{2}</a>";
}

@foreach (var k in cultures){
	string navUrl = Url.Action(string.Empty, new { Language = k.Value, Controller = string.Empty, Id = string.Empty });
	string selected = Culture.Equals(k.Value, StringComparison.CurrentCultureIgnoreCase) ? " class=\"culture-selected\"" : string.Empty;

	navUrl = (string.IsNullOrEmpty(navUrl) || navUrl.Equals("/")) ? Url.Content("~/ru-ru") : navUrl;

	string name = "<span>" + k.Name + "</span>";
	<text>
		@Html.Raw(string.Format(urlMask, selected, navUrl, name))
	</text>
}
</div>